<!DOCTYPE html>
<html>
	<head>
		<title>Assignment 2 - INFO 253 Web Architecture</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href='static/css_1/style.css' />
	</head>
	<body>
		<header>
			<a href = index>Homepage</a>
			<a href = about>About Us</a>
			<a href = contact>Contact Us</a>
		</header>
			<h2>About Us</h2>
				<section>My name is Jimin Kang, this is my first web architecture assignment. Thank you.</section>
		<footer>
			<a href = index>Homepage</a>
			<a href = about>About Us</a>
			<a href = contact>Contact Us</a>
		</footer>
	</body>
</html>