<!DOCTYPE html>
<html>
	<head>
		<title>Assignment 2 - INFO 253 Web Architecture</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="static/css_1/style.css" />
	</head>
	<body>
		<header>
			<a href = index>Homepage</a>
			<a href = about>About Us</a>
			<a href = contact>Contact Us</a>
			<h3>Contact Us</h3>
		</header>
			<div id="react"></div>
				<div id="contact">
					<form name = "contact">
						Your Name 
							<input type = "text" id = "f&lname" name = "f&lname" placeholder = "Your Name"><br>
						Subject
							<input type = "text" id = "subject" name = "subject" placeholder = "Subject"><br>
						Message						
							<textarea id = "message" name = "message" placeholder = "Message"></textarea><br>
						<input type = "submit">
					</form>
				</div>
		<footer>
			<a href = index>Homepage</a>
			<a href = about>About Us</a>
			<a href = contact>Contact Us</a>
		</footer>
		<script src="static/js_1/script.js"></script>
	</body>
</html>